* {
  list-style-type: none;
}

header,
.project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

#header {
  background-color: rgb(184, 184, 184);
}

.menu {
  padding: 20px;
}

.nav {
  margin: 20px;
  color: rgb(39, 39, 39);
  font-size: 15px;
}

#titlebar {
  margin: 10px;
  padding: 10px;
  background-color: rgb(255, 123, 0);
  border-radius: 5px;
}

#blogName {
  color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
}

.title {
  background-color: rgb(255, 123, 0);
  padding: 5px;
}

.content {
  padding: 10px;
  margin: 5px;
}

.date {
  text-align: right;
  padding: 10px;
}

.post {
  border: 2px solid;
  border-color: black;
  border-radius: 5px;
}

.postTitle {
  color: rgb(39, 39, 39);
}

#login {
  left: auto;
  right: auto;
}

